<div class="modal-header">
  <button ng-if="modal.dismissable" type="button" ng-click="$dismiss()" class="close">&times;</button>
  <h4 ng-if="modal.title" ng-bind="modal.title" class="modal-title"></h4>
</div>
<div class="modal-body scrollable-content">
  <div class="form-group">
    <label>{{modal.description}}:</label>
    <p id="modalTextP" class="form-control" ng-if="modal.paragraph" ng-bind="modal.text" contenteditable="{{modal.editable}}"></p>
    <textarea id="modalHtmlTextArea" class="form-control scrollable-content" ng-if="modal.textarea" ng-bind-html="modal.html" contenteditable="{{modal.editable}}" placeholder="Enter description here..."></textarea>
    <br/>
    <div ng-show="modal.isTodo" id="prioritySelectGroup">
      <label>Old Priority: </label> {{modal.priority}} <br/>
      <label for="newTodoPriority">New Priority: </label> <br/>
      <select name="newTodoPriority" id="newTodoPriority" class="input-large input-large-altered">
        <option value="3">High Priority</option>
        <option value="2">Medium Priority</option>
        <option value="1">Low Priority</option>
      </select>
    </div>
  </div>
</div>
<div id="modalFooter" class="modal-footer">
  <button id="modalBtn" ng-repeat="button in modal.buttons" ng-class="button.classes" ng-click="button.click($event)" ng-bind="button.text" class="btn"></button>
</div>
