<div class="modal-header">
  <button ng-if="modal.dismissable" type="button" ng-click="$dismiss()" class="close">&times;</button>
  <h4 ng-if="modal.title" ng-bind="modal.title" class="modal-title"></h4>
</div>
<div class="modal-body scrollable-content">
  <div class="form-group">
    <label>Todo Description:</label>
    <p id="modalTextP" ng-if="modal.text" ng-bind="modal.text" contenteditable="{{modal.editable}}"></p>
    <textarea id="modalHtmlTextArea" class="form-control scrollable-content" ng-if="modal.html || modal.editable" ng-bind-html="modal.html" contenteditable="{{modal.editable}}" placeholder="Enter description here..."/>
  </div>
</div>
<div id="modalFooter" class="modal-footer">
  <button id="modalBtn" ng-repeat="button in modal.buttons" ng-class="button.classes" ng-click="button.click($event)" ng-bind="button.text" class="btn"></button>
</div>
