<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">SweetSuite</a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
        <li ng-show="!isLoggedIn()" ng-class="{active: isActive('/how')}"><a href="/how">How It Works</a></li>
        <li ng-show="isLoggedIn() && !isAdmin()" ng-class="{active: isActive('/client')}"><a href="/client">My Lists</a></li>
        <li ng-show="isLoggedIn() && isMaid() && !isAdmin()" ng-class="{active: isActive('/maid')}"><a href='/maid'>View Client Lists</a></li>
      	<li ng-show="isLoggedIn() && !isAdmin()" ng-class="{active: isActive('/client')}"><a href="/client">My Lists</a></li>
        <li ng-show="isAdmin()" ng-class="{active: isActive('/admin/users')}"><a href="/admin/users">Manage Users</a></li>
        <li ng-show="isAdmin()" ng-class="{active: isActive('/admin/todos')}"><a href="/admin/todos">Manage Todos</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a id="login" href="/login">Login</a></li>
        <li ng-show="isLoggedIn()"><p class="navbar-text">Hello {{ getCurrentUser().name }}</p> </li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a href="/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a id="logout" href="" ng-click="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
