<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="user in users">
        <strong id="strong{{user.name}}">{{user.name}}</strong><br>
        <span class="text-muted">Account Type - {{user.role}}</span><br>
        <span class="text-muted">{{user.email}}</span>
        <!-- Make a User an Admin -->
        <a ng-show="!isAdmin(user) && !isMaid(user)" ng-click="makeAdmin(user)" class="plus" title="Make Admin"><span class="glyphicon glyphicon-globe pull-right"></span></a>
        <!-- Make a User a Maid -->
        <a ng-show="!isAdmin(user) && !isMaid(user)" ng-click="makeMaid(user)" class="plus" title="Make Maid"><span class="glyphicon glyphicon-bell pull-right"></span></a>
        <!-- Make an Admin to User -->
        <a ng-show="isAdmin(user) && !isCurrentUser(user)" ng-click="demoteAdmin(user)" class="minus" title="Demote Admin to User"><span class="glyphicon glyphicon-minus-sign pull-right"></span></a>
        <!-- Make a Maid a User -->
        <a ng-show="isMaid(user) && !isCurrentUser(user)" ng-click="demoteMaid(user)" class="minus" title="Demote Maid to User"><span class="fa fa-user-plus pull-right"></span></a>
        <!-- Delete User/Maid/Admin -->
        <a ng-show="!isCurrentUser(user)" ng-click="deleteUser(user)" class="trash" title="Delete User"><span id="deleteUser" class="glyphicon glyphicon-trash pull-right"></span></a>

    </li>
  </ul>
</div>

<div ng-include="'components/footer/footer.html'"></div>
