<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <p>As an admin, you have the ability to make lists here: </p>
  <p>TODO:<br>
    MAKE LISTS</p>
  <p> <br><br><br><br>As an admin, you have the ability to edit lists here:</p>
  <p>TODO:<br>EDIT LISTS</p>
  <p> <br><br><br><br>As an admin, you have the ability to track list progress here:</p>
  <p>TODO:<br>VIEW PROGRESS</p>
  <p> <br><br><br><br>As an admin, you have the ability delete users here:</p>
  <p>TODO:<br>DELETE USERS</p>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="user in users">
        <strong>{{user.name}}</strong><br>
        <span class="text-muted">{{user.email}}</span>
        <a ng-show="!isAdmin(user) && !isMaid(user)" ng-click="makeAdmin(user)" class="plus" title="make admin"><span class="glyphicon glyphicon-globe pull-right"></span></a>
        <a ng-show="!isAdmin(user) && !isMaid(user)" ng-click="makeMaid(user)" class="plus" title="make maid"><span class="glyphicon glyphicon-bell pull-right"></span></a>

        <a ng-show="isAdmin(user) && !isCurrentUser(user)" ng-click="demoteAdmin(user)" class="minus" title="demote admin to user"><span class="glyphicon glyphicon-minus-sign pull-right"></span></a>
        <a ng-show="isMaid(user) && !isCurrentUser(user)" ng-click="demoteMaid(user)" class="minus" title="demote maid to user"><span class="glyphicon glyphicon-minus-sign pull-right"></span></a>
        <a ng-show="!isCurrentUser(user)" ng-click="delete(user)" class="trash" title="delete user"><span class="glyphicon glyphicon-trash pull-right"></span></a>

    </li>
  </ul>
</div>

<div ng-include="'components/footer/footer.html'"></div>
