<div class="container" ng-controller="ListsCtrl">
  <accordion class="list-group-item" ng-repeat="client in clients" ng-init="clientIndex = $index">
    <accordion-group id="user{{client.name}}" ng-click="focusUser(client.name)" heading="{{client.name}} | {{client.email}}">
      <accordion-heading>
        <strong>{{client.name}}</strong> | <span class="text-muted">{{client.email}}</span>
      </accordion-heading>
      <ul class="list-group">
        <accordion class="row" ng-repeat="todoList in client.lists" ng-init="listIndex = $index">
          <div class="col-lg-12">
            <accordion-group id="todoList{{client.name}}{{todoList.title}}" ng-click="focusList(client.name, todoList.title)" heading="{{todoList.title}}">
              <accordion-heading>
                {{todoList.title}}
                <a ng-click="deleteList(clientIndex, listIndex)" class="trash glyphicon glyphicon-trash pull-right" title="delete list"></a>
              </accordion-heading>
              <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="todo in todoList.todos" ng-init="todoIndex = $index">
                <li><a href="#" ng-click="displayTodoInfo(clientIndex, listIndex, todoIndex)">{{todo.name}}<button type="button" class="close" ng-click="deleteTodo(clientIndex, listIndex, todoIndex)">&times;</button></a></li>
              </ul>
              <p class="container-fluid">
              <form class="thing-form">
                <label>New Todo</label>
                <select class="input-large input-large-altered"  ng-model="priority">
                  <option value="" selected disabled>Select Priority</option>
                  <option priority="3">High Priority</option>
                  <option priority="2">Medium Priority</option>
                  <option priority="1">Low Priority</option>
                </select>
                <p class="input-group">
                  <input type="text" class="form-control" placeholder="Add a new to-do here." ng-model="newTodo">
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-primary" ng-click="addTodo(clientIndex, listIndex, newTodo, priority)">Add New</button>
                    </span>
                </p>
              </form>
              </p>
            </accordion-group>
          </div>
          </div>
        </accordion>
      </ul>
    </accordion-group>
  </accordion>
</div>
