<div ng-include="'components/navbar/navbar.html'"></div>

  <div class="container">
    <div class="page">
      <div class="row" id="btnListsDiv">
        <div class="btn btn-success" id="createListBtn" ng-click="createNewTodoList()">
          Create New List
        </div>
        <div class="btn btn-primary" id="viewListsBtn" ng-click="toggleTodoExample()">
          View Lists
        </div>
        <div class="btn btn-primary" id="viewExampleListBtn" ng-click="toggleTodoExampleImage()">
          View Example List
        </div>
        <div class="btn btn-primary" id="removeListsBtn" ng-click="hideExampleLists()">
          Hide All
        </div>
        <div class="btn btn-success" id="saveListsBtn" ng-click="saveChanges()">
          Save Changes
        </div>
        <img class="center-block img-rounded" src="../assets/images/examplelist.png" ng-show="showTodoExampleImage" alt="Example List"/>
      </div>
    </div>

    <div id="todoContainer" class="container" ng-show="showTodoExample">
      <accordion class="row" ng-repeat="todoList in client.lists">
        <div class="col-lg-12">
          <accordion-group id="todoList{{todoList.title}}" ng-click="focusList(todoList.title)" heading="{{todoList.title}}">
            <accordion-heading>
              {{todoList.title}}
              <a ng-click="deleteList(todoList)" class="trash glyphicon glyphicon-trash pull-right" title="delete list"></a>
            </accordion-heading>
            <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="todo in todoList.todos">
              <li><a href="#" ng-click="displayThingInfo(todo)">{{todo.name}}<button type="button" class="close" ng-click="deleteTodo(todoList, todo)">&times;</button></a></li>
            </ul>
            <p class="container-fluid">
              <form class="thing-form">
                <label>New Todo</label>
                <p class="input-group">
                  <input type="text" class="form-control" placeholder="Add a new to-do here." ng-model="newTodo">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary" ng-click="addTodo(todoList, newTodo)">Add New</button>
                  </span>
                </p>
              </form>
            </p>
          </accordion-group>
        </div>
      </div>
    </accordion>
    </div>
  </div>

<div ng-include="'components/footer/footer.html'"></div>
<div class="hidden" id="todoEditModal">
  <div ng-include="'components/modal/modal.html'"></div>
</div>
